<div class="pill"><slot /></div>

<style>
	.pill {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 25rem;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: var(--accent-text-over);
		border: 1px solid var(--accent-regular);
		background-color: var(--accent-regular);
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
	}

	@media (min-width: 50em) {
    .pill {
      width: auto; /* Revert to natural, content-based width */
      justify-content: flex-start; /* Align content to the left */
      padding: 0.5rem 1rem; /* Revert to original padding */
    }
  }
</style>
