@font-face {
  font-family: 'League Spartan';
  src: url('./fonts/LeagueSpartan-Bold.otf');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
